- if picture.plain?
  = image_tag '',
    data: { src: url_for(picture.image.variant(resize: 'x200')) },
    title: picture,
    alt: picture
- else
  = react_component 'crypto/LazyEncryptedImage',
    { src: url_for(picture.image),
      title: picture.to_s }

%noscript
  = image_tag picture.image.variant(resize: 'x200'),
    title: picture,
    alt: picture
